apache.cxf/src/main/resources/sample.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.java.training.addAccount/account/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="sample" targetNamespace="http://com.java.training.addAccount/account/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://com.java.training.addAccount/account/">
      <xsd:element name="addAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountType" type="xsd:string"/>
            <xsd:element name="accountName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resposoneCode" type="xsd:string"/>
            <xsd:element name="responseMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addAccountRequest">
    <wsdl:part element="tns:addAccount" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addAccountResponse">
    <wsdl:part element="tns:addAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Account">
    <wsdl:operation name="addAccount">
      <wsdl:input message="tns:addAccountRequest"/>
      <wsdl:output message="tns:addAccountResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sampleSOAP" type="tns:Account">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addAccount">
      <soap:operation soapAction="http://com.java.training.addAccount/account/addAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Account">
    <wsdl:port binding="tns:sampleSOAP" name="sampleSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
