SpringIOC/src/main/java/com/spring/ioc/config/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

    <complexType name="s">
    	<sequence>
    		<element name="firstname" type="string"></element>
    		<element name="lastname" type="string"></element>
    	</sequence>
    </complexType>

    <element name="Person" type="tns:s">
    	
    </element>
    
</schema>